$app-offcanvas-debug: false;
$app-offcanvas-opacity: 0.6;
$app-offcanvas-opacity-hover: 0.96;
$app-offcanvas-start-width: 320px;
$app-offcanvas-start-mode-0-width: 0;
$app-offcanvas-start-mode-1-width: $toggler-size;

html > body > #root > .app {
  // button[data-app-toggle-position='start'] {
  //   background: red !important;
  // }
  .offcanvas,
  .app-offcanvas {
    @if ($app-offcanvas-debug or $app-debug) {
      @extend .app-debug-border;
      top: calc($app-navbar-height + calc($app-debug-border * 2));
      bottom: calc(calc($app-footer-height + calc($app-debug-border * 2)));
    } @else {
      top: $app-navbar-height !important;
      bottom: $app-footer-height !important;
    }
    @extend .offcanvas, .shadow-sm;
    transition: $app-transition;
    z-index: 99999 !important;
    clip-path: inset(0px -24px 0px 0px);
    padding: $app-padding;
    min-width: $app-offcanvas-start-width;
    max-width: $app-offcanvas-start-width;
    width: $app-offcanvas-start-width;

    .offcanvas-header {
      @extend .border-bottom;
    }

    .offcanvas-body {
      padding: 0;
      overflow-y: scroll !important;
    }
  }

  .app-offcanvas {
    opacity: $app-offcanvas-opacity;
  }
  .app-offcanvas:hover {
    opacity: $app-offcanvas-opacity-hover;
  }

  .row {
    .app-content {
      transition: $app-transition;
    }
  }
}

html,
html[data-app-offcanvas-start-mode='0'][data-app-offcanvas-start-collapsed='1'] {
  .row {
    .app-content {
      margin-left: 0;
    }
  }
  .app-offcanvas-start {
    @extend .border-0, .border-end;
    left: -($app-offcanvas-start-width);
  }
}
html[data-app-offcanvas-start-collapsed='1'],
html[data-app-offcanvas-start-mode='0'][data-app-offcanvas-start-collapsed='0'] {
  .row {
    .app-content {
      margin-left: 0;
    }
  }
  .app-offcanvas-start {
    @extend .border-0, .border-end;
    visibility: visible !important;
    left: 0;
  }
}

html[data-app-offcanvas-start-mode='1'][data-app-offcanvas-start-collapsed='1'] {
  .row {
    .app-content {
      margin-left: 0;
    }
  }
  .app-offcanvas-start {
    @extend .border-0, .border-end;
    left: -($app-offcanvas-start-width);
  }
}
html[data-app-offcanvas-start-mode='1'][data-app-offcanvas-start-collapsed='0'] {
  .row {
    .app-content {
      margin-left: $app-offcanvas-start-width;
    }
  }
  .app-offcanvas-start {
    @extend .border-0, .border-end;
    visibility: visible !important;
    left: 0;
  }
}
