.app,
.app-main {
  background: transparent !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.app-debug-label {
  font-family: Consolas, monospace;
  font-size: 12px;
  font-weight: 100;
  background: rgba(lime, 0.4);
  position: absolute;
  pointer-events: none;

  margin: 0;
  padding: 1px 6px;
  border: 1px solid black;
  top: 0;
  right: 0;
  content: attr(class);
}

@include color-mode(dark) {
  .app-debug-label {
    color: white;
    text-shadow: 0 1px 0 black;
  }
}
@include color-mode(light) {
  color: black;
  text-shadow: 0 1px 0 white;
}

.app-main {
  // overflow-y: scroll;
  // width: 100vw;
  // margin-right: 0 !important;
  // padding-right: 0 !important;
  // border-right: 0 !important;
  // scrollbar-color: $primary $info;
  // overflow-clip-margin: 4px;
  // scroll-behavior: smooth;
  // scroll-snap-align: start;
  // scroll-snap-stop: always;
  // scroll-snap-type: x proximity;
  // scrollbar-gutter: stable both-edges;
  // scrollbar-color: black purple;

  .row {
    margin: 0 !important;
    padding: 0 !important;

    // @if ($app-debug) {
    //   @extend .app-debug-border;
    // }
    // height: calc(100vh - $app-navbar-height - $app-footer-height);

    .app-content {
      @if ($app-debug) {
        @extend .app-debug-border;
        background-color: darkred;
        margin-top: calc($app-navbar-height + calc($app-debug-border * 2));
        margin-bottom: calc($app-footer-height + calc($app-debug-border * 2));
      } @else {
        margin-top: calc($app-navbar-height);
        margin-bottom: calc($app-footer-height);
      }
      padding: $app-padding;
      transition: $app-transition;
      // Margin or Padding
    }
  }
}

html.app-sidebar-start-show {
  .row {
    .app-content {
      transition: 0;
      margin-left: $app-sidebar-width;
    }
  }
}

html.app-sidebar-end-show {
  .row {
    .app-content {
      transition: 0;
      margin-right: $app-sidebar-width;
    }
  }
}

// #region Navbars
@include color-mode(light) {
  .navbar {
    background: rgba($light, 0.9);
  }
}
@include color-mode(dark) {
  .navbar {
    background: rgba($dark, 0.9);
  }
}

.navbar {
  @extend .shadow;
  transition: $app-transition * 2;

  @if ($app-debug) {
    @extend .app-debug-border;
    &:after {
      @extend .app-debug-label;
    }
  }

  .container,
  .container-fluid {
    @extend .d-flex, .flex-nowrap;
    @if ($app-debug) {
      opacity: 1 !important;
    }
    padding: 0;
    margin: 0;

    .navbar-brand {
      @extend .ms-3;
    }
  }

  .navbar-toggler {
    min-height: $app-navbar-height !important;
    height: $app-navbar-height;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }
  .navbar-toggler:hover {
    border-color: $gray-600;
  }
  .navbar-toggler:focus {
    border-color: $primary;
  }
  .navbar-toggler:active {
    border-color: $gray-200;
  }
}
.navbar.fixed-top,
.navbar.sticky-top {
  @extend .border-bottom;
}
.navbar.fixed-bottom.shadow {
  @extend .border-top;
}
.navbar.fixed-bottom.shadow-sm {
  box-shadow: 0 -0.125rem 0.25rem rgba($black, 0.075);
}
.navbar.fixed-bottom.shadow {
  box-shadow: 0 -0.5rem 1rem rgba($black, 0.15) !important;
}

// #endregion

// #region Sidebars

.offcanvas {
  padding: $app-padding;
  min-width: $app-sidebar-width;
  max-width: $app-sidebar-width;
  width: $app-sidebar-width;
}

.app-sidebar {
  @if ($app-debug) {
    @extend .app-debug-border;
  }
  @extend .bg-body, .shadow;
  padding: $app-padding;
  min-width: $app-sidebar-width;
  max-width: $app-sidebar-width;
  width: $app-sidebar-width;
  @if ($app-debug) {
    top: calc($app-navbar-height + calc($app-debug-border * 2));
    bottom: calc(calc($app-footer-height + calc($app-debug-border * 2)));
  } @else {
    top: calc($app-navbar-height);
    bottom: $app-footer-height;
  }
}
.app-sidebar.show {
  transition: $app-transition ease-in;
  opacity: 1;
}
.app-sidebar {
  transition: $app-transition ease-out;
  opacity: 0.6;
}
.app-sidebar-start.show {
  @extend .border-end;
  left: 0;
}
.app-sidebar-start {
  left: -($app-sidebar-width);
}
.app-sidebar-end.show {
  @extend .border-start;
  right: 0;
}
.app-sidebar-end {
  right: -($app-sidebar-width);
}

// #endregion
