.app,
.app-main {
  background: transparent !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.app-debug-label {
  font-family: Consolas, monospace;
  font-size: 12px;
  font-weight: 100;
  background: rgba(lime, 0.4);
  position: absolute;
  pointer-events: none;

  margin: 0;
  padding: 1px 6px;
  border: 1px solid black;
  top: 0;
  right: 0;
  content: attr(class);
}

@include color-mode(dark) {
  .app-debug-label {
    color: white;
    text-shadow: 0 1px 0 black;
  }
}
@include color-mode(light) {
  color: black;
  text-shadow: 0 1px 0 white;
}

.app-main {
  // overflow-y: scroll;
  // width: 100vw;
  // margin-right: 0 !important;
  // padding-right: 0 !important;
  // border-right: 0 !important;
  // scrollbar-color: $primary $info;
  // overflow-clip-margin: 4px;
  // scroll-behavior: smooth;
  // scroll-snap-align: start;
  // scroll-snap-stop: always;
  // scroll-snap-type: x proximity;
  // scrollbar-gutter: stable both-edges;
  // scrollbar-color: black purple;

  .row {
    margin: 0 !important;
    padding: 0 !important;

    // @if ($app-debug) {
    //   @extend .app-debug-border;
    // }
    // height: calc(100vh - $app-navbar-height - $app-footer-height);

    .app-content {
      @if ($app-debug) {
        @extend .app-debug-border;
        background-color: darkred;
        margin-top: calc($app-navbar-height + calc($app-debug-border * 2));
        margin-bottom: calc($app-footer-height + calc($app-debug-border * 2));
      } @else {
        margin-top: calc($app-navbar-height);
        margin-bottom: calc($app-footer-height);
      }
      padding: $app-padding;
      // transition: $app-transition;
      // Margin or Padding
    }
  }
}

@import './app/app-offcanvas';

// #region Navbars
@include color-mode(light) {
  .navbar {
    background: rgba($light, 0.92);
  }
}
@include color-mode(dark) {
  .navbar {
    background: rgba($dark, 0.92);
  }
}

.navbar {
  @extend .shadow-sm;

  @if ($app-debug) {
    @extend .app-debug-border;
    &:after {
      @extend .app-debug-label;
    }
  }

  .container,
  .container-fluid {
    @extend .d-flex, .flex-nowrap;
    @if ($app-debug) {
      opacity: 1 !important;
    }
    padding: 0;
    margin: 0;

    color: blue;
    float: left;

    .d-flex + a.navbar-brand {
      border-left: $input-btn-border-width solid var(--bs-secondary-bg);
    }

    .navbar-brand {
      @extend .px-3;
      display: flex;
      overflow: hidden;
      text-overflow: ellipsis;
      height: $toggler-size;
      min-height: $toggler-size;
      margin: 0;
      color: var(--bs-border-color);
      div {
        span:first-child {
          // background: yellow;
          color: var(--bs-emphasis-color);
        }

        span:nth-child(2) {
          color: var(--bs-tertiary-color);
          margin-left: 1rem;
          // background: orange;
        }
      }
    }
  }

  .navbar-toggler {
    min-height: $app-navbar-height !important;
    height: $app-navbar-height;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
  }
  .navbar-toggler:hover {
    border-color: $gray-600;
  }
  .navbar-toggler:focus {
    border-color: $primary;
  }
  .navbar-toggler:active {
    border-color: $gray-200;
  }
}
.navbar.fixed-top,
.navbar.sticky-top {
  @extend .border-bottom;
}
.navbar.fixed-bottom {
  // z-index: 9999 !important; /* Avoid offcanvas bottom shadow */
  // @extend .shadow-sm; /* Not working on fixed-bottom */
  @extend .border-0, .border-top;
  // box-shadow: 0 -0.125rem 0.25rem rgba($black, 0.075) !important;
}

// #endregion

// #region Sidebars

// #endregion
.list-group {
  margin-right: 2px;
}
.list-group-item,
.list-group-item.active,
.list-group-item:hover {
  border-radius: 1.5rem 0 0 1.5rem;
  // border-radius: 0 24px 24px 0;
}
